body {
  margin: 0;
  padding: 0;
  background: #f5fbff;
  font-family: Montserrat, sans-serif;
}
button {
  border: none;
  background: transparent;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  list-style-type: none;
}
