@font-face {
  font-family: CormorantUpright;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/CormorantUpright-Bold.woff2') format('woff2'),
    url('../fonts/CormorantUpright-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: CormorantUpright;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CormorantUpright-Regular.woff2') format('woff2'),
    url('../fonts/CormorantUpright-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: CormorantUpright;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/CormorantUpright-SemiBold.woff2') format('woff2'),
    url('../fonts/CormorantUpright-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: TTTrailers;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TTTrailers-Regular.woff2') format('woff2'),
    url('../fonts/TTTrailers-Regular.woff') format('woff');
  font-display: swap;
}
