@import 'fonts';

body {
  font-family: CormorantUpright;
  font-size: 50px;
  span {
    color: red;
  }
}
.title2 {
  padding-top: 40px;
  padding-left: 50px;
  background-color: aqua;
  color: black;
}
